{{define "main"}}
<main>
    <div class="container text-light animate__animated animate__fadeIn">
      <h1 class="mt-5">Welcome to Go and Bootstrap Website!</h1>
      <p>
        This is a sample website built using both Go and Bootstrap. It
        showcases the power and versatility of these two technologies.
      </p>

      <h2 class="mt-5">About Go</h2>
      <p>
        Go, also known as Golang, is a programming language created at Google.
        It is designed for efficiency, simplicity, and readability. Go has a
        strong focus on concurrent programming, making it a popular choice for
        building scalable and high-performance applications.
      </p>

      <h2 class="mt-5">About Bootstrap</h2>
      <p>
        Bootstrap is a widely-used CSS framework developed by Twitter. It
        provides a comprehensive set of responsive components and styles that
        make it easy to build modern and visually appealing websites.
        Bootstrap's grid system, typography, and pre-built components simplify
        the process of creating responsive and consistent web designs.
      </p>

      <h2 class="mt-5">Combining Go and Bootstrap</h2>
      <p>
        By combining Go and Bootstrap, developers can leverage the power of
        the Go programming language for server-side logic and business logic,
        while using Bootstrap for the front-end presentation and user
        interface. This combination allows for the creation of dynamic,
        interactive, and visually appealing web applications.
      </p>

      <h2 class="mt-5">Get Started</h2>
      <p>
        To get started with Go, you can visit the official website at
        <a href="https://golang.org">https://golang.org</a>. There, you will
        find extensive documentation, tutorials, and resources to help you
        learn and master the language.
      </p>

      <p>
        To get started with Bootstrap, you can visit the official
        documentation at
        <a href="https://getbootstrap.com">https://getbootstrap.com</a>. The
        documentation provides examples, guides, and a wide range of
        components to help you build beautiful and responsive web designs.
      </p>
    </div>
  </main>
  {{end}}